.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.carousel-item {
    text-align: center;
}

.carousel-inner {
    width: 90%; /* Increase width */
    max-width: 700px; /* Set a maximum width */
    margin: 0 auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 600px;

    border-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.description {
    margin-top: 10px;
    font-size: 20px;
    max-width: 90%;
    margin: 10px auto;
    text-align: center;
}